* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Muli', sans-serif; }

.button-base {
  height: 89px;
  width: 89px;
  margin: 0 auto;
  padding: 2rem;
  border-radius: .5rem;
  background-color: white;
  box-shadow: 0px 5px 0px #b3b3b3; }

.button.slider {
  display: block;
  position: relative;
  width: 25px;
  height: 25px;
  cursor: pointer; }
  .button.slider .bars, .button.slider .cross {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
    .button.slider .bars span, .button.slider .cross span {
      position: relative;
      display: block;
      width: 25px;
      height: 3px;
      border-radius: 4px;
      margin: 4px 0;
      background-color: black;
      transition: 0.2s cubic-bezier(0.59, -0.27, 0.49, 1.35); }
  .button.slider .bars span:nth-child(1) {
    transition-delay: .5s; }
  .button.slider .bars span:nth-child(2) {
    transition-delay: .625s; }
  .button.slider .bars span:nth-child(3) {
    transition-delay: .75s; }
  .button.slider .cross {
    transform: rotate(45deg); }
    .button.slider .cross span {
      position: absolute; }
      .button.slider .cross span:nth-child(1) {
        width: 3px;
        height: 0;
        margin: 0 11px;
        transition-delay: .0s; }
      .button.slider .cross span:nth-child(2) {
        width: 0;
        height: 3px;
        margin: 11px 0;
        transition-delay: .25s; }

.button.slider.open .bars span {
  width: 0; }
  .button.slider.open .bars span:nth-child(1) {
    transition-delay: 0s; }
  .button.slider.open .bars span:nth-child(2) {
    transition-delay: .125s; }
  .button.slider.open .bars span:nth-child(3) {
    transition-delay: .25s; }

.button.slider.open .cross span:nth-child(1) {
  height: 25px;
  transition-delay: .525s; }

.button.slider.open .cross span:nth-child(2) {
  width: 25px;
  transition-delay: .375s; }

.button.collapser {
  display: block;
  position: relative;
  width: 25px;
  height: 25px;
  cursor: pointer; }
  .button.collapser .bars {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
    .button.collapser .bars span {
      position: absolute;
      display: block;
      margin: 0;
      width: 25px;
      height: 3px;
      border-radius: 4px;
      background-color: black;
      transition: top 0.2s ease-in-out 0.2s, transform 0.2s cubic-bezier(0.59, -0.27, 0.49, 1.35) 0s; }
      .button.collapser .bars span:nth-child(1) {
        top: 4px; }
      .button.collapser .bars span:nth-child(2) {
        top: 11px; }
      .button.collapser .bars span:nth-child(3) {
        top: 18px; }

.button.collapser.open .bars span {
  transition: top 0.2s ease-in-out 0s, transform 0.2s cubic-bezier(0.53, -0.01, 0.29, 1.52) 0.2s; }
  .button.collapser.open .bars span:nth-child(1) {
    top: 11px;
    transform: rotate(45deg); }
  .button.collapser.open .bars span:nth-child(2) {
    top: 11px;
    transform: rotate(45deg); }
  .button.collapser.open .bars span:nth-child(3) {
    top: 11px;
    transform: rotate(-45deg); }

.button.spinner {
  display: block;
  position: relative;
  width: 25px;
  height: 25px;
  cursor: pointer; }
  .button.spinner .bars {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
    .button.spinner .bars span {
      position: relative;
      display: block;
      width: 25px;
      height: 3px;
      border-radius: 4px;
      margin: 4px 0;
      background-color: black;
      transition: 0.3s cubic-bezier(0.59, -0.27, 0.49, 1.35); }
  .button.spinner .bars span {
    width: 100%; }
    .button.spinner .bars span:nth-child(1) {
      transition-delay: .125s; }
    .button.spinner .bars span:nth-child(2) {
      transition-delay: .0s; }
    .button.spinner .bars span:nth-child(3) {
      float: right;
      margin-top: -7px;
      transition-delay: .0s;
      transition-duration: .325s; }
    .button.spinner .bars span:nth-child(4) {
      float: right;
      margin-top: 0;
      transition-delay: .125s; }

.button.spinner.open .bars span {
  width: 0; }
  .button.spinner.open .bars span:nth-child(1) {
    transition-delay: .0s; }
  .button.spinner.open .bars span:nth-child(2) {
    width: 100%;
    transform: rotate(-135deg);
    transition-delay: .05s; }
  .button.spinner.open .bars span:nth-child(3) {
    width: 100%;
    transform: rotate(-225deg);
    transition-delay: .05s; }
  .button.spinner.open .bars span:nth-child(4) {
    transition-delay: .0s; }

.container {
  position: relative;
  width: 100%;
  font-size: 0; }
  @media screen and (min-width: 680px) {
    .container {
      width: 100%;
      margin: 0 auto; } }
  .container section {
    font-size: 1rem;
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #2A2B30; }
    .container section:nth-child(even) {
      background-color: #24252a; }
    @media screen and (min-width: 680px) {
      .container section {
        display: inline-block;
        width: 33.333%; } }
    .container section .element {
      position: absolute;
      display: block;
      width: 100%;
      top: 50%;
      transform: translateY(-50%);
      text-align: center; }
      .container section .element h2 {
        color: white;
        margin-bottom: 1rem; }
      .container section .element .btn-code {
        width: 24px;
        height: 20px;
        padding: .15rem 0;
        margin: 1rem auto 0 auto;
        text-align: center;
        background-color: white;
        border-radius: 2px;
        box-shadow: 0px 3px 0px #b3b3b3;
        transition: .1s ease-in-out; }
        .container section .element .btn-code img {
          height: 100%; }
        .container section .element .btn-code:active {
          transform: translateY(3px);
          box-shadow: 0px 0px 0px #b3b3b3; }
