.button.collapser {
  display: block;
  position: relative;
  width: 25px;
  height: 25px;
  cursor: pointer; }
  .button.collapser .bars {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
    .button.collapser .bars span {
      position: absolute;
      display: block;
      margin: 0;
      width: 25px;
      height: 3px;
      border-radius: 4px;
      background-color: black;
      transition: top 0.2s ease-in-out 0.2s, transform 0.2s cubic-bezier(0.59, -0.27, 0.49, 1.35) 0s; }
      .button.collapser .bars span:nth-child(1) {
        top: 4px; }
      .button.collapser .bars span:nth-child(2) {
        top: 11px; }
      .button.collapser .bars span:nth-child(3) {
        top: 18px; }

.button.collapser.open .bars span {
  transition: top 0.2s ease-in-out 0s, transform 0.2s cubic-bezier(0.53, -0.01, 0.29, 1.52) 0.2s; }
  .button.collapser.open .bars span:nth-child(1) {
    top: 11px;
    transform: rotate(45deg); }
  .button.collapser.open .bars span:nth-child(2) {
    top: 11px;
    transform: rotate(45deg); }
  .button.collapser.open .bars span:nth-child(3) {
    top: 11px;
    transform: rotate(-45deg); }
