.button.slider {
  display: block;
  position: relative;
  width: 25px;
  height: 25px;
  cursor: pointer; }
  .button.slider .bars, .button.slider .cross {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
    .button.slider .bars span, .button.slider .cross span {
      position: relative;
      display: block;
      width: 25px;
      height: 3px;
      border-radius: 4px;
      margin: 4px 0;
      background-color: black;
      transition: 0.2s cubic-bezier(0.59, -0.27, 0.49, 1.35); }
  .button.slider .bars span:nth-child(1) {
    transition-delay: .5s; }
  .button.slider .bars span:nth-child(2) {
    transition-delay: .625s; }
  .button.slider .bars span:nth-child(3) {
    transition-delay: .75s; }
  .button.slider .cross {
    transform: rotate(45deg); }
    .button.slider .cross span {
      position: absolute; }
      .button.slider .cross span:nth-child(1) {
        width: 3px;
        height: 0;
        margin: 0 11px;
        transition-delay: .0s; }
      .button.slider .cross span:nth-child(2) {
        width: 0;
        height: 3px;
        margin: 11px 0;
        transition-delay: .25s; }

.button.slider.open .bars span {
  width: 0; }
  .button.slider.open .bars span:nth-child(1) {
    transition-delay: 0s; }
  .button.slider.open .bars span:nth-child(2) {
    transition-delay: .125s; }
  .button.slider.open .bars span:nth-child(3) {
    transition-delay: .25s; }

.button.slider.open .cross span:nth-child(1) {
  height: 25px;
  transition-delay: .525s; }

.button.slider.open .cross span:nth-child(2) {
  width: 25px;
  transition-delay: .375s; }
