.button.spinner {
  display: block;
  position: relative;
  width: 25px;
  height: 25px;
  cursor: pointer; }
  .button.spinner .bars {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
    .button.spinner .bars span {
      position: relative;
      display: block;
      width: 25px;
      height: 3px;
      border-radius: 4px;
      margin: 4px 0;
      background-color: black;
      transition: 0.3s cubic-bezier(0.59, -0.27, 0.49, 1.35); }
  .button.spinner .bars span {
    width: 100%; }
    .button.spinner .bars span:nth-child(1) {
      transition-delay: .125s; }
    .button.spinner .bars span:nth-child(2) {
      transition-delay: .0s; }
    .button.spinner .bars span:nth-child(3) {
      float: right;
      margin-top: -7px;
      transition-delay: .0s;
      transition-duration: .325s; }
    .button.spinner .bars span:nth-child(4) {
      float: right;
      margin-top: 0;
      transition-delay: .125s; }

.button.spinner.open .bars span {
  width: 0; }
  .button.spinner.open .bars span:nth-child(1) {
    transition-delay: .0s; }
  .button.spinner.open .bars span:nth-child(2) {
    width: 100%;
    transform: rotate(-135deg);
    transition-delay: .05s; }
  .button.spinner.open .bars span:nth-child(3) {
    width: 100%;
    transform: rotate(-225deg);
    transition-delay: .05s; }
  .button.spinner.open .bars span:nth-child(4) {
    transition-delay: .0s; }
