*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Muli', sans-serif;
}

@import 'variables';
@import 'button-base';
@import 'slider';
@import 'collapser';
@import 'spinner';

.container{
  position: relative;
  width: 100%;
  font-size: 0;

  @media #{$large-screen} {
    width: 100%;
    margin:0 auto;
  }

  section{
    font-size: 1rem;
    position: relative;
    width:100%;
    height: 100vh;
    background-color: #2A2B30;

    &:nth-child(even){
      background-color: #24252a;
    }

    @media #{$large-screen} {
      display: inline-block;
      width:33.333%;
    }

    .element{
      position: absolute;
      display: block;
      width: 100%;
      top:50%;
      transform: translateY(-50%);
      text-align: center;

      h2{
        color:white;
        margin-bottom:1rem;
      }

      .btn-code{
        width:24px;
        height:20px;
        padding:.15rem 0;
        margin:1rem auto 0 auto;
        text-align: center;
        background-color: white;
        border-radius: 2px;
        box-shadow: 0px 3px 0px darken(white, 30%);
        transition: .1s ease-in-out;

        img{
          height:100%;
        }

        &:active{
          transform:translateY(3px);
          box-shadow: 0px 0px 0px darken(white, 30%);
        }
      }
    }
  }
}
